@import url("font-awesome.min.css");

/* Pikers New Website src copyright John Hamilton 2018 */


/* Body */

body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("images/bg-smooth.jpg");
  background-attachment: fixed;
  color: rgb(55, 53, 53);
}

div {

}

#main-title {
  font-size: 5vw;
}

.navbar {
  margin-bottom: 20px;
  background-image: url("images/bg01.png");
}

#pikers-logo {
  padding: 5px 5px;
}

#landing-button {
  margin: 50px;
  font-size: 200%;
  color: rgb(55, 53, 53);
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: darken;
  overflow: hidden;
}

#landing-background {
  background-image: url("images/partypike.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  size: 100%;
}

#landing-logo {

}

.img-fill {
  width: 100%;
  max-width: 300px;
}

.col-centered{
  float: none;
  margin: 0 auto;
  text-align: center;
}

.jumbotron {
  /*background-color: rgb(200, 220, 200);*/

  background-image: url("images/bg01.png");
}

a {
  color: green;
}
